.bouton {
    display:inline-block; 
    border-radius: 10px;  
    border:solid 2px gray;
    padding: 5px 10px 5px 10px;
}

.competence {
    display:inline-block; 
    border-radius: 10px;  
    border:solid 2px green;
    padding: 5px 10px 5px 10px;
}

.contenu {
	margin: 5px
}

